@media screen and (min-width: 768px) {
	header {
		padding-top: 30px;
	}

	section {
		margin: 2% 14%;
	}

	main {
		padding: 3% 0;
	}

	nav {
		padding: 0 38px;
	}

	nav a {
		margin: 6px;
	}

	.translate-btn__first-page {
		position: fixed;
		top: 25px;
		right: 23px;
		text-align: right;
		margin-top: 5px;
	}

	.note-list {
		display: grid;
		grid-template-columns: 50% 50%;
		margin: 35px 0;
	}

	.note-item {
		margin: 20px 17px;
		padding: 17px 25px 10px 25px;
	}

	.note-item:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
		transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	}

	.note-item__article {
		padding: 0;
		margin-bottom: 10px;
	}

	.note-item__action {
		padding: 0;
	}

	.note-item__action a {
		background-color: var(--background-note-item-btn-action-768px) !important;
	}

	.note-item__action a:hover {
		box-shadow: none;
	}

	.note-item__action a:focus {
		box-shadow: none;
	}

	.note-detail {
		padding-top: 12px;
		margin-top: 10px;
	}

	.hero-img {
		max-width: 30%;
		height: 530px;
		position: absolute;
		top: 9%;
		left: 12%;
	}

	.first-page {
		display: block;
		padding-left: 50% !important;
		padding: 0 15%;
	}

	.bold {
		padding-top: 7%;
		padding-left: 35% !important;
		margin: 1% 0 0 0 !important;
	}

	.action-button__first-page {
		margin: 7px 0;
		padding: 7% 20% 5% 20%;
	}

	.register-input input {
		/* max-width: 45% !important; */
		margin: 15px auto !important;
	}

	.register-input button {
		/* max-width: 45% !important; */
	}

	.header-register-page {
		padding: 5px;
	}

	.register-page {
		padding: 0 !important;
	}

	.login-input {
		padding: 25px 0 0 0 !important;
	}
	
	.login-input button {
		margin-top: 60px !important;
	}

	.no-page {
		padding: 3%;
	}
}

@media screen and (min-width: 426px) {
	.note-item__date {
		flex-basis: 95%;
	}

	.note-item__action-btn {
		flex-basis: 5%;
		font-size: 32px;
	}

	.header-register-page {
		max-width: 400px;
		margin: auto;
	}

	.register-input input {
		max-width: 360px;
		display: block;
		margin: 15px auto;
	}

	.register-input button {
		max-width: 360px;
		display: block;
		margin: 45px auto;
	}
}

@media screen and (min-width: 1700px) {
	.note-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 683px) {
	/* .hero-img {
		max-width: 30%;
		height: 530px;
		display: block;
		margin: 5px auto 40px auto;
	} */

	/* .first-page {
		padding: 0 15%;
	}

	.action-button__first-page {
		padding: 7% 20% 5% 20%;
	} */
}

@media screen and (max-width: 767px) {
	.note-item__action a {
		background-color: white;
	}
}

@media screen and (min-width: 1024px) {
	.register-input input {
		/* max-width: 35% !important; */
		margin: 15px auto !important;
	}

	.register-page {
		padding: 0 !important;
	}
}

@media screen and (min-height: 703px) {
	.bold {
		margin-top: 40px;
	}

	.hero-img {
		height: 510px;
	}
}
